[submodule "WK_WKNSMSE_cod.27.47d20"]
	path = WK_WKNSMSE_cod.27.47d20
	url = https://github.com/ices-taf/WK_WKNSMSE_cod.27.47d20.git
[submodule "wk_WKNSMSE_had.27.46a20"]
	path = wk_WKNSMSE_had.27.46a20
	url = https://github.com/ices-taf/wk_WKNSMSE_had.27.46a20.git
[submodule "wk_WKNSMSE_whg.27.47d"]
	path = wk_WKNSMSE_whg.27.47d
	url = https://github.com/ices-taf/wk_WKNSMSE_whg.27.47d.git
[submodule "wk_WKNSMSE_pok.27.3a46"]
	path = wk_WKNSMSE_pok.27.3a46
	url = https://github.com/ices-taf/wk_WKNSMSE_pok.27.3a46.git
[submodule "wk_WKNSMSE_her.27.1-24a514a"]
	path = wk_WKNSMSE_her.27.1-24a514a
	url = https://github.com/ices-taf/wk_WKNSMSE_her.27.1-24a514a.git
[submodule "wk_WKNSMSE_her.27.3a47d"]
	path = wk_WKNSMSE_her.27.3a47d
	url = https://github.com/ices-taf/wk_WKNSMSE_her.27.3a47d.git
